﻿@model UrlModel

@{
    ViewData["Title"] = "Home Page";
}
    <div class="row">
        <div>
            @{

                var mwres = Context.Response.Headers["Response-Time-ms"];
        }

        @mwres
    </div>
    <div class="col-md-8">
        <section>
            <form asp-controller="Home" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4>Enter url</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Url" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">GO TO</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

