﻿@model TestProject.BLL.Models.ResponseTimesModel
@{
    ViewData["Title"] = "GetResponseTime";
}

<h1>GetResponseTime</h1>

<div>
    @{

        var mwres = Context.Response.Headers["Response-Time-ms"];
    }
    @mwres
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                DateCreate
            </th>
            <th>
                Response
            </th>
            <th>
                MinTime
            </th>
            <th>
                MaxTime
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinTime) ms
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTime) ms
                </td>
            </tr>
        }
    </tbody>
</table>
